:host {
  width: min-content;
  display: block;
  white-space: nowrap;
}

.navigation-item {
  background-color: var(--surface-tertiary) !important;
  color: var(--text-inverse-subtle);
  padding: var(--spacing-3) var(--spacing-4);
  font: var(--title-medium);

  &:not([disabled]) {
    &:hover,
    &:active,
    &[active] {
      color: var(--text-inverse);
    }
  }

  &[disabled] {
    color: var(--text-inverse-disabled) !important;
  }
}
