<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="This page tests whether loading a component file directly works."
    />
    <meta name="color-scheme" content="light dark" />
    <link
      rel="stylesheet"
      href="/node_modules/@zebra-fed/zeta-web/dist/index.css"
    />
    <link
      rel="stylesheet"
      href="/node_modules/@zebra-fed/zeta-icons/index.css"
    />
    <title>My Web Page</title>
  </head>
  <body>
    <h1>Zeta-Web button.js test</h1>
    <zeta-button>Hello</zeta-button>
    <zeta-button flavor="positive">My</zeta-button>
    <zeta-button flavor="outline" size="large">World</zeta-button>
    <zeta-icon>person</zeta-icon>
    <aside>
      The
      <pre>type="module"</pre>
      attribute is required on the
      <pre>&lt;script&gt;</pre>
      Tag
    </aside>
  </body>
  <script
    type="module"
    src="/node_modules/@zebra-fed/zeta-web/dist/components/button/button.js"
  ></script>
  <script
    type="module"
    src="/node_modules/@zebra-fed/zeta-web/dist/components/icon/icon.js"
  ></script>
</html>
