:host([size="small"]) {  
  .container {
    min-width: 8px;
    min-height: 8px;
  }

  .count {
    display: none;
  }  
}

:host([size="medium"]) .container {
  width: 12px;
  height: 12px;

  .count{
    font-size: 10px;
  }

  .indicator-icon {
    position:absolute;
    right: 1px;
  }

}

:host([size="large"]) .container {
  width: 16px;
  height: 16px;  

  .count{
    font-size: 14px;
  }
}


:host([inverse]) .container {
  border: 2px solid var(--surface-default-inverse);
}

 :host{ 
  width: fit-content;
  display: block;

  .container {
   border-radius: var(--radius-full);
   width: fit-content;
   height: fit-content;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
 }
}

.container.indicator-icon{
  background-color: var(--foundation-accent);
}

.container.notification{
  background-color: red;
}

:host .container {
 .count {
    position: absolute;
    color: var(--on-surface-primary);
  }
}




