:root {
  /* Primitives */
  --mobile: 1024px;

  /* Typography */
  --type-family-regular: "IBM Plex Sans";
  --type-family-condensed: "IBM Plex Sans Condensed";

  /* Spacing */
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-10: 40px;
  --spacing-11: 44px;
  --spacing-12: 48px;
  --spacing-16: 64px;
  --spacing-20: 80px;
  --spacing-24: 96px;

  /* Radius */
  --radius-s: 4px;
  --radius-m: 8px;
  --radius-l: 16px;
  --radius-xl: 32px;
  --radius-xxl: 128px;
  --radius-xxxl: 360px;

  --color-border-focused: var(--color-blue-50);

  font-family: var(--type-family-regular);
  
  /* Box shadows */
  --elevation-1: 0px 0.5px 2px 0px rgba(96, 104, 112, 0.16), 0px 0px 1px 0px rgba(40, 51, 61, 0.08); 
  --elevation-2: 0px 2px 4px 0px rgba(96, 104, 112, 0.16), 0px 0px 1px 0px rgba(40, 51, 61, 0.04);
  --elevation-3: 0px 4px 8px 0px rgba(96, 104, 112, 0.16), 0px 0px 2px 0px rgba(40, 51, 61, 0.04);
  --elevation-4: 0px 8px 16px 0px rgba(96, 104, 112, 0.16), 0px 2px 4px 0px rgba(40, 51, 61, 0.04);
  --elevation-5: 0px 16px 24px 0px rgba(96, 104, 112, 0.16), 0px 2px 8px 0px rgba(40, 51, 61, 0.04);
  --elevation-6: 0px 20px 32px 0px rgba(96, 104, 112, 0.24), 0px 2px 8px 0px rgba(40, 51, 61, 0.08);

  --foundation-accent: #0073E6; 
}

/* Primitives (Dark) */
@media (prefers-color-scheme: dark) {
  :root {
    --border-focused: var(--color-blue-70);
    --surface-overlay: rgba(0, 0, 0, 0.70);

    /* Pure */
    --color-pure-1000: #ffffff;
    --color-pure-0: #000000;

    /* Cool Grey */
    --color-cool-110:#e8eBF1;
    --color-cool-100:#f8fbff;
    --color-cool-90: #f3f6fa;
    --color-cool-80: #e0e3e9;
    --color-cool-70: #ced2db;
    --color-cool-60: #8d95a3;
    --color-cool-50: #7a8190;
    --color-cool-40: #545963;
    --color-cool-30: #2c2f36;
    --color-cool-20: #1d1e23;
    --color-cool-10: #0c0d0e;

    /* Warm Grey */
    --color-warm-100: #fafafa;
    --color-warm-90: #f7f7f7;
    --color-warm-80: #ededed;
    --color-warm-70: #dedede;
    --color-warm-60: #b9b9b9;
    --color-warm-50: #858585;
    --color-warm-40: #585858;
    --color-warm-30: #313131;
    --color-warm-20: #202020;
    --color-warm-10: #151519;

    /* Blue */
    --color-blue-100: #f1f8ff;
    --color-blue-90: #e2f1ff;
    --color-blue-80: #b7dbff;
    --color-blue-70: #7ebeff;
    --color-blue-60: #599fe5;
    --color-blue-50: #0073e6;
    --color-blue-40: #0061c2;
    --color-blue-30: #004d99;
    --color-blue-20: #002c58;
    --color-blue-10: #101b25;

    /* Green */
    --color-green-100: #ecfff7;
    --color-green-90: #d8ffef;
    --color-green-80: #beefdb;
    --color-green-70: #84dab6;
    --color-green-60: #67b796;
    --color-green-50: #00864f;
    --color-green-40: #006d3f;
    --color-green-30: #005f38;
    --color-green-20: #00331e;
    --color-green-10: #081711;

    /* Red */
    --color-red-100: #fff0f1;
    --color-red-90: #ffe1e4;
    --color-red-80: #ffb3bb;
    --color-red-70: #f98c97;
    --color-red-60: #f36170;
    --color-red-50: #d70015;
    --color-red-40: #b50012;
    --color-red-30: #8f000e;
    --color-red-20: #520008;
    --color-red-10: #220f11;

    /* Orange */
    --color-orange-110:#ff9500;
    --color-orange-100:#ffe7c6;
    --zeta-dark-orange-100: #FEF2E2;
    --color-orange-90: #ffd292;
    --color-orange-80: #ffb348;
    --color-orange-70: #f5a230;
    --color-orange-60: #d78e26;
    --color-orange-50: #ae6500;
    --color-orange-40: #965802;
    --color-orange-30: #764502;
    --color-orange-20: #402600;
    --color-orange-10: #1e1100;
    --icon-warning: #FFD396;

    /* Purple */
    --color-purple-100: #f7f0ff;
    --color-purple-90: #efe1ff;
    --color-purple-80: #dcc1fb;
    --color-purple-70: #cea4ff;
    --color-purple-60: #9b71df;
    --color-purple-50: #7e0cff;
    --color-purple-40: #6400d6;
    --color-purple-30: #43008f;
    --color-purple-20: #260052;
    --color-purple-10: #180f22;

    /* Yellow */
    --color-yellow-100: #fff7d4;
    --color-yellow-90: #ffea89;
    --color-yellow-80: #f3d961;
    --color-yellow-70: #dbb91c;
    --color-yellow-60: #c2a728;
    --color-yellow-50: #8d7400;
    --color-yellow-40: #766200;
    --color-yellow-30: #564908;
    --color-yellow-20: #352b00;
    --color-yellow-10: #181400;

    /* Teal */
    --color-teal-100: #ecffff;
    --color-teal-90: #d9ffff;
    --color-teal-80: #bcfbfb;
    --color-teal-70: #91e1e1;
    --color-teal-60: #65c5c5;
    --color-teal-50: #1a8080;
    --color-teal-40: #017474;
    --color-teal-30: #005b5b;
    --color-teal-20: #003535;
    --color-teal-10: #0a1616;

    /* Pink */
    --color-pink-100: #fff7fc;
    --color-pink-90: #ffe3f5;
    --color-pink-80: #ffbee7;
    --color-pink-70: #ff94d8;
    --color-pink-60: #ee78c3;
    --color-pink-50: #d30589;
    --color-pink-40: #ab006d;
    --color-pink-30: #840054;
    --color-pink-20: #640040;
    --color-pink-10: #2e001e;

    /* Interactive */
    --interactive-disabled: #2C2F36;
    --interactive-subtle: #4F5561;
    --interactive-selected: #0073E6;

    /* Icon */
    --icon-on-interactive: #FFFFFF;
    --icon-on-interactive-disabled: #99A1B2;
  }
}

/* Primitives (Light) */
@media (prefers-color-scheme: light) {
  :root {
    --surface-overlay: rgba(0, 0, 0, 0.30);
    /* Colors */
    --border-focused: var(--color-blue-50);

    /* Pure */
    --color-pure-0: #ffffff;
    --color-pure-1000: #000000;

    /* Cool Grey */
    --color-cool-10: #f8fbff;
    --color-cool-20: #f3f6fa;
    --color-cool-30: #e0e3e9;
    --color-cool-40: #ced2db;
    --color-cool-50: #8d95a3;
    --color-cool-60: #7a8190;
    --color-cool-70: #545963;
    --color-cool-80: #2c2f36;
    --color-cool-90: #1d1e23;
    --color-cool-100:#0c0d0e;
    --color-cool-110:#3c414b;

    /* Warm Grey */
    --color-warm-10: #fafafa;
    --color-warm-20: #f7f7f7;
    --color-warm-30: #ededed;
    --color-warm-40: #dedede;
    --color-warm-50: #b9b9b9;
    --color-warm-60: #858585;
    --color-warm-70: #585858;
    --color-warm-80: #313131;
    --color-warm-90: #202020;
    --color-warm-100: #151519;

    /* Blue */
    --color-blue-10: #f1f8ff;
    --color-blue-20: #e2f1ff;
    --color-blue-30: #b7dbff;
    --color-blue-40: #7ebeff;
    --color-blue-50: #599fe5;
    --color-blue-60: #0073e6;
    --color-blue-70: #0061c2;
    --color-blue-80: #004d99;
    --color-blue-90: #002c58;
    --color-blue-100: #101b25;

    /* Green */
    --color-green-10: #ecfff7;
    --color-green-20: #d8ffef;
    --color-green-30: #beefdb;
    --color-green-40: #84dab6;
    --color-green-50: #67b796;
    --color-green-60: #00864f;
    --color-green-70: #006d3f;
    --color-green-80: #005f38;
    --color-green-90: #00331e;
    --color-green-100: #081711;

    /* Red */
    --color-red-10: #fff0f1;
    --color-red-20: #ffe1e4;
    --color-red-30: #ffb3bb;
    --color-red-40: #f98c97;
    --color-red-50: #f36170;
    --color-red-60: #d70015;
    --color-red-70: #b50012;
    --color-red-80: #8f000e;
    --color-red-90: #520008;
    --color-red-100: #220f11;

    /* Orange */
    --zeta-light-orange-10: #FEF2E2;
    --color-orange-10: #ffe7c6;
    --color-orange-20: #ffd292;
    --color-orange-30: #ffb348;
    --color-orange-40: #f5a230;
    --color-orange-50: #d78e26;
    --color-orange-60: #ae6500;
    --color-orange-70: #965802;
    --color-orange-80: #764502;
    --color-orange-90: #402600;
    --color-orange-100:#1e1100;
    --color-orange-110:#ffa82e;
    --icon-warning: #AE6500;

    /* Purple */
    --color-purple-10: #f7f0ff;
    --color-purple-20: #efe1ff;
    --color-purple-30: #dcc1fb;
    --color-purple-40: #cea4ff;
    --color-purple-50: #9b71df;
    --color-purple-60: #7e0cff;
    --color-purple-70: #6400d6;
    --color-purple-80: #43008f;
    --color-purple-90: #260052;
    --color-purple-100: #180f22;

    /* Yellow */
    --color-yellow-10: #fff7d4;
    --color-yellow-20: #ffea89;
    --color-yellow-30: #f3d961;
    --color-yellow-40: #dbb91c;
    --color-yellow-50: #c2a728;
    --color-yellow-60: #8d7400;
    --color-yellow-70: #766200;
    --color-yellow-80: #564908;
    --color-yellow-90: #352b00;
    --color-yellow-100: #181400;

    /* Teal */
    --color-teal-10: #ecffff;
    --color-teal-20: #d9ffff;
    --color-teal-30: #bcfbfb;
    --color-teal-40: #91e1e1;
    --color-teal-50: #65c5c5;
    --color-teal-60: #1a8080;
    --color-teal-70: #017474;
    --color-teal-80: #005b5b;
    --color-teal-90: #003535;
    --color-teal-100: #0a1616;

    /* Pink */
    --color-pink-10: #fff7fc;
    --color-pink-20: #ffe3f5;
    --color-pink-30: #ffbee7;
    --color-pink-40: #ff94d8;
    --color-pink-50: #ee78c3;
    --color-pink-60: #d30589;
    --color-pink-70: #ab006d;
    --color-pink-80: #840054;
    --color-pink-90: #640040;
    --color-pink-100: #2e001e;


    /* Interactive */
    --interactive-disabled: #E8EBF1;
    --interactive-subtle: #AFB6C2;
    --interactive-selected: #0073E6;

    /* Icon */
    --icon-on-interactive: #F3F6FA;
    --icon-on-interactive-disabled: #8D95A3;
  }
}

/* Semantics */
:root {
  /* Radius */
  --radius-none: 0;
  --radius-minimal: var(--radius-s);
  --radius-rounded: var(--radius-m);
  --radius-full: var(--radius-xxxl);

  /* Spacing */
  --spacing-none: var(--spacing-1);
  --spacing-xxs: var(--spacing-2);
  --spacing-xs: var(--spacing-3);
  --spacing-s: var(--spacing-3);
  --spacing-b: var(--spacing-4);
  --spacing-m: var(--spacing-6);
  --spacing-l: var(--spacing-8);
  --spacing-xl: var(--spacing-16);
  --spacing-xxl: var(--spacing-20);
  --spacing-xxxl: var(--spacing-24);
}

/* Semantics Regular Contrast */
:root {

  /* Text */
  --text-default: var(--color-cool-90);
  --text-subtle: var(--color-cool-70);
  --text-inverse: var(--color-pure-0);
  --text-disabled: var(--color-cool-50);

  /* Text / Flavor */
  --text-primary: var(--color-blue-60);
  --text-secondary: var(--color-yellow-60);
  --text-positive: var(--color-green-60);
  --text-warning: var(--color-orange-60);
  --text-negative: var(--color-red-60);
  --text-info: var(--color-purple-60);

  /* Icon */
  --icon-default: var(--color-cool-90);
  --icon-subtle: var(--color-cool-70);
  --icon-inverse: var(--color-cool-20);
  --icon-disabled: var(--color-cool-50);

  /* Icon / Flavor */
  --icon-primary: var(--color-blue-60);
  --icon-secondary: var(--color-yellow-60);
  --icon-positive: var(--color-green-60);
  --icon-warning: var(--color-orange-60);
  --icon-negative: var(--color-red-60);
  --icon-info: var(--color-purple-60);

  /* Border */
  --border-default: var(--color-cool-40);
  --border-subtle: var(--color-cool-30);
  --border-hover: var(--color-cool-90);
  --border-selected: var(--color-cool-90);
  --border-disabled: var(--color-cool-20);

  /* Border / Flavor */
  --border-primary: var(--color-blue-50);
  --border-secondary: var(--color-yellow-50);
  --border-positive: var(--color-green-50);
  --border-warning: var(--color-orange-50);
  --border-negative: var(--color-red-50);
  --border-info: var(--color-purple-50);

  /* Surface */
  --surface-default: var(--color-pure-0);
  --surface-default-inverse: var(--color-pure-1000);
  --surface-cool: var(--color-cool-10);
  --surface-warm: var(--color-cool-10);
  --surface-hover: var(--color-cool-20);
  --surface-selected: var(--color-blue-10);
  --surface-selected-hovered: var(--color-blue-20);
  --surface-disabled: var(--color-cool-30);

  /* Surface / Flavor */
  --surface-primary: var(--color-blue-60);
  --surface-primary-subtle: var(--color-blue-10);
  --surface-secondary: var(--color-yellow-60);
  --surface-secondary-subtle: var(--color-yellow-10);
  --surface-positive: var(--color-green-60);
  --surface-positive-subtle: var(--color-green-10);
  --surface-warning: var(--color-orange-60);
  --surface-warning-subtle: var(--color-orange-10);
  --surface-negative: var(--color-red-60);
  --surface-negative-subtle: var(--color-red-10);
  --surface-info: var(--color-purple-60);
  --surface-info-subtle: var(--color-purple-10);
}


@media (prefers-contrast: more) {
  :root {

    /* Text */
    --text-default: var(--color-cool-100);
    --text-subtle: var(--color-cool-90);
    --text-inverse: var(--color-pure-0);
    --text-disabled: var(--color-cool-60);

    /* Text / Flavor */
    --text-primary: var(--color-blue-80);
    --text-secondary: var(--color-yellow-80);
    --text-positive: var(--color-green-80);
    --text-warning: var(--color-orange-80);
    --text-negative: var(--color-red-80);
    --text-info: var(--color-purple-80);

    /* Icon */
    --icon-default: var(--color-cool-100);
    --icon-subtle: var(--color-cool-80);
    --icon-inverse: var(--color-pure-0);
    --icon-disabled: var(--color-cool-60);

    /* Icon / Flavor */
    --icon-primary: var(--color-blue-80);
    --icon-secondary: var(--color-yellow-80);
    --icon-positive: var(--color-green-80);
    --icon-warning: var(--color-orange-80);
    --icon-negative: var(--color-red-80);
    --icon-info: var(--color-purple-80);

    /* Border */
    --border-default: var(--color-cool-100);
    --border-subtle: var(--color-cool-80);
    --border-hover: var(--color-cool-90);
    --border-selected: var(--color-cool-90);
    --border-disabled: var(--color-cool-20);

    /* Border / Flavor */
    --border-primary: var(--color-blue-70);
    --border-secondary: var(--color-yellow-70);
    --border-positive: var(--color-green-70);
    --border-warning: var(--color-orange-70);
    --border-negative: var(--color-red-70);
    --border-info: var(--color-purple-70);

    /* Surface */
    --surface-default: var(--color-pure-0);
    --surface-default-inverse: var(--color-pure-1000);
    --surface-cool: var(--color-cool-10);
    --surface-warm: var(--color-cool-10);
    --surface-hover: var(--color-cool-20);
    --surface-selected: var(--color-blue-10);
    --surface-selected-hovered: var(--color-blue-20);
    --surface-disabled: var(--color-cool-30);

    /* Surface / Flavor */
    --surface-primary: var(--color-blue-60);
    --surface-primary-subtle: var(--color-blue-10);
    --surface-secondary: var(--color-yellow-60);
    --surface-secondary-subtle: var(--color-yellow-10);
    --surface-positive: var(--color-green-60);
    --surface-positive-subtle: var(--color-green-10);
    --surface-warning: var(--color-orange-60);
    --surface-warning-subtle: var(--color-orange-10);
    --surface-negative: var(--color-red-60);
    --surface-negative-subtle: var(--color-red-10);
    --surface-info: var(--color-purple-60);
    --surface-info-subtle: var(--color-purple-10);
  }
}

/* TODO: Add component specific tokens to component css? */

:root {

  /* Button */
  --surface-primary-hover: var(--color-blue-70);
  --surface-primary-active: var(--color-blue-80);

  --surface-primary-variant: #ffd200;
  --surface-primary-variant-hover: #F6BD00;
  --surface-primary-variant-active: #C29500;

  --surface-negative-hover: var(--color-red-70);
  --surface-negative-active: var(--color-red-80);

  --surface-outline: transparent;
  --surface-outline-hover: var(--color-cool-20);
  --surface-outline-active: #EDEFF4;

  --surface-basic: transparent;
  --surface-basic-hover: var(--color-cool-20);
  --surface-basic-active: #EDEFF4;

  --border-outline: var(--color-blue-60);
  --border-outline-subtle: var(--color-cool-40);

  --on-surface-primary: var(--color-pure-0);
}