:host {
  display: flex;
  height: fit-content;
  width: fit-content;

  > button {
    display: flex;
    align-items: center;
    border: none;
    justify-content: center;
    overflow-x: ellipsis;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    width: 100%;
  }
}


:host([size="large"]) > button {
  padding: 12px 24px;
}

:host > button,
:host([size="medium"]) > button {
  padding: 8px 14px;
}

:host([size="small"]) > button {
  padding: 6px 10px;
  font-size: 14px;
  line-height: 20px;
}
