:host {
  display: flex;
  height: fit-content;
  width: fit-content;
}

:host > button {
  border: none;
}

:host([size="large"]) > button {
  padding: 12px;
}

:host > button,
:host([size="medium"]) > button {
  padding: 8px;
}

:host([size="small"]) > button {
  padding: 6px;
}
