@import "../../../mixins/tertiary-interactive.scss";

:host {
  width: min-content;
  display: block;
  white-space: nowrap;
  color: var(--text-inverse);
}

.navigation-profile {
  padding: var(--spacing-1) var(--spacing-3);
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
  font: var(--title-medium);

  @include tertiary-interactive;
}
