<div class="column container full">


    <zeta-breadcrumb-item>
        Breadcrumb
    </zeta-breadcrumb-item>
    <zeta-breadcrumb>
        <zeta-breadcrumb-item>Breadcrumb</zeta-breadcrumb-item>
        <zeta-breadcrumb-item>
            <zeta-icon slot="icon">star</zeta-icon>
            Item 1
        </zeta-breadcrumb-item>
    </zeta-breadcrumb>

    <zeta-breadcrumb maxitems="2">
        <zeta-breadcrumb-item> Breadcrumb </zeta-breadcrumb-item>
        <zeta-breadcrumb-item> <zeta-icon slot="icon">star</zeta-icon> Item 1</zeta-breadcrumb-item>
        <zeta-breadcrumb-item> Item 2</zeta-breadcrumb-item>
    </zeta-breadcrumb>
    <zeta-breadcrumb maxitems="3">
        <zeta-breadcrumb-item> Breadcrumb </zeta-breadcrumb-item>
        <zeta-breadcrumb-item> <zeta-icon slot="icon">star</zeta-icon> Item 1</zeta-breadcrumb-item>
        <zeta-breadcrumb-item> Item 2</zeta-breadcrumb-item>
        <zeta-breadcrumb-item> Item 3</zeta-breadcrumb-item>
    </zeta-breadcrumb>
</div>