<style>
    .column {
        width: 360px;

    }

    .scroll {
        justify-content: center;
        display: flex;
    }
</style>

<div class=" scroll full">
    <div class="column">
        <zeta-snackbar hasCloseAction actionClick="() => { console.log('Action clicked'); }">
            <zeta-icon slot="icon">happy</zeta-icon>
            Message with icon
        </zeta-snackbar>
        <zeta-snackbar actionLabel='Action' actionClick="() => { console.log('Action clicked'); }">
            <zeta-icon slot="icon">happy</zeta-icon>
            Actionable message with icon
        </zeta-snackbar>
        <zeta-snackbar status="positive" hasCloseAction actionClick="() => { console.log('Action clicked'); }">
            <zeta-icon slot="icon">check_circle</zeta-icon>
            Request sent successfully
        </zeta-snackbar>

        <zeta-snackbar status="info" hasCloseAction actionClick="() => { console.log('Action clicked'); }">
            <zeta-icon slot="icon">info</zeta-icon>
            Information is being displayed
        </zeta-snackbar>
        <zeta-snackbar status="warning" hasCloseAction actionClick="() => { console.log('Action clicked'); }">
            <zeta-icon slot="icon">warning</zeta-icon>
            Warning has been issued
        </zeta-snackbar>


        <zeta-snackbar status="negative" hasCloseAction actionClick="() => { console.log('Action clicked'); }">
            <zeta-icon slot="icon">error</zeta-icon>
            Error has been detected
        </zeta-snackbar>

        <zeta-snackbar status="negative" actionLabel="Undo" actionClick="() => { console.log('Action clicked'); }">
            <zeta-icon slot="icon">delete</zeta-icon>
            Item was deleted
        </zeta-snackbar>
        <zeta-snackbar status="view" actionLabel="Undo" actionClick="() => { console.log('Action clicked'); }">
            <zeta-icon slot="icon">open_in_new_window</zeta-icon>
            Something needs your attention
        </zeta-snackbar>
    </div>
</div>