<div class="column full">
    <zeta-system-banner align="center">
        <zeta-icon name="info" slot="leadingIcon"></zeta-icon>
        Centered
    </zeta-system-banner>
    <zeta-system-banner align="center" status="positive">
        <zeta-icon name="info" slot="leadingIcon"></zeta-icon>
        Banner title
        <zeta-icon name="chevron_right" slot="trailingIcon"></zeta-icon>
    </zeta-system-banner>
    <zeta-system-banner align="start" status="warning">
        <zeta-icon name="info" slot="leadingIcon"></zeta-icon>
        Start Aligned
        <zeta-icon name="chevron_right" slot="trailingIcon"></zeta-icon>
    </zeta-system-banner>
    <zeta-system-banner status="negative" align="center">
        <zeta-icon name="info" slot="leadingIcon"></zeta-icon>
        Centered
        <zeta-icon name="chevron_right" slot="trailingIcon"></zeta-icon>
    </zeta-system-banner>
</div>