<div class="column full">
    <zeta-top-appbar>
        <zeta-icon slot="leading">hamburger_menu</zeta-icon>
        <div style="display:flex;gap:8px;align-items:center;">
            <zeta-avatar size="xxxs">AZ</zeta-avatar>
            Title
        </div>
        <div slot="trailing" style="display:flex;gap:16px;align-items:center;">
            <zeta-icon>world</zeta-icon>
            <zeta-icon>love</zeta-icon>
            <zeta-icon>more_vertical</zeta-icon>
        </div>
    </zeta-top-appbar>

    <zeta-top-appbar>
        <zeta-icon slot="leading">close</zeta-icon>
        2 Items
        <div slot="trailing" style="display:flex;gap:16px;align-items:center;">
            <zeta-icon>edit</zeta-icon>
            <zeta-icon>share</zeta-icon>
            <zeta-icon>delete</zeta-icon>
            <zeta-icon>more_vertical</zeta-icon>
        </div>
    </zeta-top-appbar>
    <zeta-top-appbar>
        <zeta-icon slot="leading">arrow_back</zeta-icon>
        <zeta-search hasicon="" placeholder="Search"></zeta-search>
    </zeta-top-appbar>
    <zeta-top-appbar extended="">
        <zeta-icon slot="leading">hamburger_menu</zeta-icon>
        <div style="display:flex;gap:8px;align-items:center;">

            <zeta-avatar size="xxxs">AZ</zeta-avatar>
            Title
        </div>
</div>
<div slot="trailing" style="display:flex;gap:16px;align-items:center;">
    <zeta-icon>world</zeta-icon>
    <zeta-icon>love</zeta-icon>
    <zeta-icon>more_vertical</zeta-icon>
</div>
</zeta-top-appbar>
</div>