.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--spacing-12);
  height: var(--spacing-8);
  padding: 0;
  border: none;
  border-radius: var(--radius-full) !important;
  fill: var(--icon-subtle);
}

.indicator rect {
  fill: var(--interactive-subtle);  
}

.indicator rect {
  transition: all 0.2s ease-out;
}

.indicator circle {
  transition: all 0.2s ease-out;
  fill: var(--interactive-primary-on);
}

.container:disabled {
  .indicator circle {
    fill: var(--interactive-disabled-icon);
  }

  .indicator rect {
    fill: var(--interactive-disabled)
  }
}

:host([active]) {
  zeta-icon {
    transform: translateX(-var(--spacing-6));
  }

  .indicator rect {
    fill: var(--interactive-primary);
  }

  .indicator circle {
    transform: translateX(var(--spacing-8));
  }
}

zeta-icon {
  width: fit-content;
  transition: all 0.2s ease-out;
  position: absolute;
  right: var(--spacing-2);
}

