.header {
  display: flex;
  flex: 1;
  font-weight: 500;
}

.leading {
  display: flex;
}

.menu-item {
  background-color: var(--surface);
  padding: 14px 12px;  
  display: flex;
  align-items: center;
  gap: 12px;
  user-select: none;
}