:host {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  * {
    border: none;
    outline: none;
  }
}

zeta-icon {
  color: var(--icon-default);
}

zeta-icon.subtle {
  color: var(--icon-subtle);
}

/* ERROR */
:host([error]:not([disabled])) {
  .input-container {
    background-color: var(--surface-flavor-negative-subtle);
    box-shadow: 0 0 0 var(--border-size-medium) var(--border-flavor-negative);
  }

  .hint-text.error {
    zeta-icon {
      color: var(--icon-flavor-negative);
    }
    span {
      color: var(--text-flavor-negative);
    }
  }

  .hint-text {
    color: var(--text-flavor-negative);
  }
}

/* DISABLED */
:host([disabled]) {
  .input-container {
    pointer-events: none;
    background-color: var(--surface-disabled);
  }

  zeta-icon {
    color: var(--icon-disabled);
  }

  input,
  textarea,
  .affix,
  .label,
  .hint-text span {
    color: var(--text-disabled);
    &::placeholder {
      color: inherit;
    }
  }
}

/* SIZE */
:host([size="small"]) {
  .input-container:not(.text-area) {
    padding: var(--spacing-2) var(--spacing-2);
  }

  input,
  .affix {
    font: var(--body-small);
  }
}

:host([size="medium"]) {
  .input-container:not(.text-area) {
    padding: var(--spacing-2) var(--spacing-3);
  }

  input,
  .affix {
    font: var(--body-medium);
  }
}

:host([size="large"]) {
  .input-container:not(.text-area) {
    padding: var(--spacing-3);
  }

  input,
  .affix {
    font: var(--body-medium);
  }
}

// DEFAULT
.input-container {
  border-radius: inherit;
  display: flex;
  align-items: center;
  min-width: 328px;
  height: fit-content;
  background-color: var(--surface-default);
  padding: var(--spacing-3);
  box-shadow: 0 0 0 var(--border-size-small) var(--border-default);

  &:hover {
    box-shadow: 0 0 0 var(--border-size-small) var(--border-hover) !important;
  }

  input,
  textarea {
    background-color: inherit;
    caret-color: var(--icon-flavor-primary);
    color: var(--text-default);
    flex: 1;
    padding: 0;
    margin: 0;
    font: var(--body-medium);

    &::placeholder {
      color: var(--text-default);
    }
  }
}

input[type="date"]::-webkit-calendar-picker-indicator ,
  input[type="time"]::-webkit-calendar-picker-indicator {
  display: none !important;
  // TODO: Firefox default date icon appears.
}

.left {
  margin-right: var(--spacing-2);
}

.right {
  margin-left: var(--spacing-2);
}

.affix {
  color: var(--text-subtle);
}

.label {
  font: var(--body-small);
  margin-bottom: var(--spacing-1);
  display: flex;
  color: var(--text-default);
  position: relative;
  width: fit-content;

  &.required {
    &::after {
      content: "*";
      display: flex;
      position: absolute;
      right: -var(--spacing-2);
      color: var(--text-flavor-negative);
    }
  }
}

.hint-text {
  display: flex;
  align-items: center;
  column-gap: var(--spacing-1);
  margin-top: var(--spacing-1);

  span {
    font: var(--body-x-small);
    color: var(--text-subtle);
  }
}

textarea {
  resize: none;
  width: 100%;
}
