:host {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

/* ERROR */
:host([error]:not([disabled])) {
  .input-container {
    background-color: var(--surface-negative-subtle);
    border: var(--border-size-medium) var(--border-negative) solid;
  }

  .hint-text.error {
    span {
      color: var(--color-red-60);
    }
  }

  .hint-text {
    color: var(--color-red-60);
  }
}

/* DISABLED */
:host([disabled]) {
  .input-container {
    pointer-events: none;
    background-color: var(--color-cool-30);
  }

  input,
  textarea {
    color: var(--color-cool-60);
    &::placeholder {
      color: inherit;
    }
  }

  .affix {
    color: var(--color-cool-60);
  }

  .label {
    color: var(--color-cool-60);
  }

  .hint-text span {
    color: var(--color-cool-60);
  }
}

/* SIZE */
:host([size="small"]) {
  .input-container:not(.text-area) {
    padding: var(--spacing-1-5) var(--spacing-3);
  }

  input,
  .affix {
    font: var(--body-small);
  }
}

:host([size="medium"]) {
  .input-container:not(.text-area) {
    padding: var(--spacing-2) var(--spacing-3);
  }

  input,
  .affix {
    font: var(--body-medium);
  }
}

:host([size="large"]) {
  .input-container:not(.text-area) {
    padding: var(--spacing-3);
  }

  input,
  .affix {
    font: var(--body-medium);
  }
}

// DEFAULT
.input-container {
  border-radius: inherit;
  display: flex;
  align-items: center;
  min-width: 328px;
  height: fit-content;
  outline: var(--border-size-small) solid var(--border-default);
  background-color: var(--surface-default);
  padding: var(--spacing-3);
  border: var(--border-size-medium) var(--surface-basic) solid;

  &:hover {
    outline-color: var(--border-hover);
  }

  input,
  textarea {
    background-color: inherit;
    border: none;
    caret-color: var(--interactive-primary);
    color: var(--color-cool-90);
    flex: 1;
    padding: 0;
    margin: 0;

    &::placeholder {
      color: var(--color-cool-70);
    }

    &:focus,
    &:active,
    &:hover {
      border: none;
      outline: none;
    }
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none !important;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none !important;
}

.left {
  margin-right: var(--spacing-2);
}

.right {
  margin-left: var(--spacing-2);
}

.affix {
  color: var(--color-cool-70);
}

.label {
  font: var(--body-small);
  margin-bottom: var(--spacing-1);
  display: flex;
  color: var(--color-cool-90);
  position: relative;
  width: fit-content;

  &.required {
    &::after {
      content: "*";
      display: flex;
      position: absolute;
      right: -var(--spacing-2);
      color: var(--color-red-60);
    }
  }
}

.hint-text {
  display: flex;
  align-items: center;
  column-gap: var(--spacing-1);
  margin-top: var(--spacing-1);

  span {
    font: var(--body-x-small);
    color: var(--color-cool-70);
  }
}

textarea {
  resize: none;
  width: 100%;
}
