.list-item {
  padding: 20px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  box-shadow: inherit;
}

h1 {
  font-weight: 500;  
  font-size: 16px;
  margin: 0;
}

.leading {
  display: flex;
  gap: inherit;
  align-items: center;
}

.trailing {
  display: flex;
  justify-self: flex-end;
}
