:host([priority="urgent"]) {
  .number {
    background: var(--color-red-60);
  }
  .container {
    background: var(--color-red-20);
  }
}

:host([priority="high"]) {
  .number {
    background: var(--color-orange-40);
  }
  .container {
    background: var(--color-orange-10);
  }
}

:host([priority="medium"]) {
  .number {
    background: var(--color-blue-60);
  }
  .container {
    background: var(--color-blue-20);
  }
}

:host([priority="low"]) {
  .number {
    background: var(--color-green-60);
  }
  .container {
    background: var(--color-green-20);
  }
}

:host([size="medium"]) {
  .text {
    padding: var(--spacing-0-5) var(--spacing-2) var(--spacing-0-5) var(--spacing-1);
  }
  .text,
  .number {
    font: var(--body-small);
  }
  .number {
    width: var(--spacing-6);
    height: var(--spacing-6);
  }
}

:host([size="small"]) {
  .text,
  .number {
    font: var(--body-x-small);
  }
  .number {
    width: var(--spacing-5);
    height: var(--spacing-5);
  }
}

:host([size="xs"]) {
  .text {
    display: none;
  }
  .number {
    font: var(--body-x-small);
    width: var(--spacing-5);
    height: var(--spacing-5);
  }
}

:host {
  .text {
    height: auto;
    text-transform: capitalize;
    padding: 0 var(--spacing-2) 0 var(--spacing-1);
  }
}
