:host([point="left"]) > .tag .point {
  transform: rotate(180deg);
}

:host([point="left"]) > .tag {
  flex-direction: row-reverse;
}

:host([point="left"][rounded]) > .tag .text {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

:host([point="right"][rounded]) > .tag .text {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.tag {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.point {
  @media (prefers-color-scheme: light) {
    & path {
      fill: var(--color-cool-20);
    }
  }
  @media (prefers-color-scheme: dark) {
    & path {
      fill: var(--color-warm-10);
    }
  }
}

.text {
  color: var(--color-cool-90);
  background: var(--color-cool-20);
  padding: var(--spacing-1) var(--spacing-2);
  font: var(--body-small);
  line-height: var(--spacing-5);

  @media (prefers-color-scheme: dark) {
    & {
      color: var(--color-cool-90);
      background: var(--color-warm-10);
    }
  }
}