:host([status="info"]) .container {
  background: var(--surface-info);
}

:host([status="positive"]) .container {
  background: var(--surface-positive);
}

:host([status="warning"]) .container {
  background: var(--surface-warning);
}

:host([status="negative"]) .container {
  background: var(--surface-negative);
}

:host([status="neutral"]) .container {
  background: var(--surface-neutral);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  width: fit-content;

  .text {
    padding: 2px var(--spacing-1);
    font: var(--label-small);
    color: var(--color-cool-20);
  }
}
