<div class="column">
    <div class="row">
        <zeta-icon-indicator size="large"></zeta-icon-indicator>
        <zeta-icon-indicator size="medium"></zeta-icon-indicator>
        <zeta-icon-indicator size="small"></zeta-icon-indicator>
    </div>
    <div class="row">
        <zeta-icon-indicator rounded size="large"></zeta-icon-indicator>
        <zeta-icon-indicator rounded size="medium"></zeta-icon-indicator>
        <zeta-icon-indicator rounded size="small"></zeta-icon-indicator>
    </div>
</div>
<div class="column">
    <div class="row">
        <zeta-notification-indicator size="large" value="3"></zeta-notification-indicator>
        <zeta-notification-indicator size="medium" value="3"></zeta-notification-indicator>
        <zeta-notification-indicator size="small" value="3"></zeta-notification-indicator>
    </div>
    <div class="row">
        <zeta-notification-indicator rounded size="large" value="3"></zeta-notification-indicator>
        <zeta-notification-indicator rounded size="medium" value="3"></zeta-notification-indicator>
        <zeta-notification-indicator rounded size="small" value="3"></zeta-notification-indicator>
    </div>
</div>