<div class="column">
    <div class="row">
        <zeta-icon-indicator icon="star" size="large"></zeta-icon-indicator>
        <zeta-icon-indicator icon="star" size="medium"></zeta-icon-indicator>
        <zeta-icon-indicator size="small"></zeta-icon-indicator>
    </div>
    <div class="row">
        <zeta-icon-indicator icon="star" rounded size="large"></zeta-icon-indicator>
        <zeta-icon-indicator icon="star" rounded size="medium"></zeta-icon-indicator>
        <zeta-icon-indicator rounded size="small"></zeta-icon-indicator>
    </div>
</div>
<div class="column">
    <div class="row">
        <zeta-notification-indicator size="large" text="300"></zeta-notification-indicator>
        <zeta-notification-indicator size="large" text="30"></zeta-notification-indicator>
        <zeta-notification-indicator size="medium" text="3"></zeta-notification-indicator>
        <zeta-notification-indicator size="small"></zeta-notification-indicator>
    </div>
    <div class="row">
        <zeta-notification-indicator rounded size="large" text="300"></zeta-notification-indicator>
        <zeta-notification-indicator rounded size="large" text="30"></zeta-notification-indicator>
        <zeta-notification-indicator rounded size="medium" text="3"></zeta-notification-indicator>
        <zeta-notification-indicator rounded size="small"></zeta-notification-indicator>
    </div>
</div>