<style>
    .row>.row :last-child {
        width: 100px;
    }
</style>

<div class="column container row">
    <div class="row">
        <zeta-priority-pill status="urgent" type="badge"></zeta-priority-pill>
        <zeta-priority-pill status="urgent"></zeta-priority-pill>
    </div>
    <div class="row">
        <zeta-priority-pill status="high" type="badge"></zeta-priority-pill>
        <zeta-priority-pill status="high"></zeta-priority-pill>
    </div>
    <div class="row">
        <zeta-priority-pill status="medium" type="badge"></zeta-priority-pill>
        <zeta-priority-pill status="medium"></zeta-priority-pill>
    </div>
    <div class="row">
        <zeta-priority-pill status="low" type="badge"></zeta-priority-pill>
        <zeta-priority-pill status="low"></zeta-priority-pill>
    </div>
</div>