<style>
    .container {
        gap: 0;
        width: 100%;
    }

    .container.column .row {
        justify-content: space-evenly;
        padding: 8px;
    }
</style>

<div class="container column">
    <div class="row">
        <zeta-status-label text="Label"></zeta-status-label>
        <zeta-status-label icon="star">Label</zeta-status-label>
    </div>
    <div class="row">
        <zeta-status-label status="info">Label</zeta-status-label>
        <zeta-status-label status="info" icon="star" text="Label"></zeta-status-label>
    </div>
    <div class="row">
        <zeta-status-label status="positive" text="Label"></zeta-status-label>
        <zeta-status-label status="positive" icon="star" text="Label"></zeta-status-label>
    </div>
    <div class="row">
        <zeta-status-label status="warning" text="Label"></zeta-status-label>
        <zeta-status-label status="warning" icon="star" text="Label"></zeta-status-label>
    </div>
    <div class="row">
        <zeta-status-label status="negative" text="Label"></zeta-status-label>
        <zeta-status-label status="negative" icon="star" text="Label"></zeta-status-label>
    </div>


</div>