.checkbox {
  display: flex;
  width: min-content;
  align-items: center;
  gap: var(--spacing-3);
  background-color: var(--surface-basic) !important;
}

input[type="checkbox"] {
  appearance: none;
  width: 0;
  height: 0;
  position: absolute;
}

.container {
  position: relative;
  border: var(--color-cool-50) var(--border-size-medium) solid;
  background: var(--surface-default);
  height: var(--spacing-4-5) 18px;
  width: var(--spacing-4-5);
}

.container:hover {
  border-color: var(--color-cool-90);
}

.checkmark {
  display: none;
  position: absolute;
  top: -1px;
  left: -1px;
}

:host([checked]) .checkmark {
  display: block;
}

:host([disabled]) {
  .container {
    background: var(--color-cool-20);
    border: var(--surface-basic) var(--border-size-medium) solid;
  }
}

:host([checked]:not([disabled])) {
  .container {
    background: var(--surface-primary);
    border: var(--surface-basic) var(--border-size-medium) solid;
  }

  .container:hover {
    background: var(--surface-primary-hover);
  }
}
