:host(:not([disabled])) .interactive-target,
:host(:not([disabled])) > :not(:has(.interactive-target)):first-child {   
  cursor: pointer;
  user-select: none;  

  &:hover {
    background: var(--surface-hover);
  }

  &:active {
    background: var(--surface-active);
  }
}

:host([disabled]) > *,
:host([disabled]) ::slotted(zeta-icon) {
  cursor: not-allowed;
  color: var(--text-disabled);  
}


:host(:focus) .interactive-target,
:host(:focus) > :not(:has(.interactive-target)) {
  box-shadow: 0 0 0 2px var(--border-focused);
  outline-width: 2px;
  outline-color: var(--color-blue-50);
}
