:root {

  /* COLOR */
  /* pure */
  --color-pure-0: #ffffff;
  --color-pure-500: #151519;
  --color-pure-1000: #151519;
  /* cool */
  --color-cool-10: #f8fbff;
  --color-cool-20: #f3f6fa;
  --color-cool-30: #e0e3e9;
  --color-cool-40: #ced2db;
  --color-cool-50: #8d95a3;
  --color-cool-60: #7a8190;
  --color-cool-70: #545963;
  --color-cool-80: #2c2f36;
  --color-cool-90: #1d1e23;
  --color-cool-100: #0c0d0e;
  /* warm */
  --color-warm-10: #fafafa;
  --color-warm-20: #f6f6f6;
  --color-warm-30: #ececec;
  --color-warm-40: #dedede;
  --color-warm-50: #b9b9b9;
  --color-warm-60: #858585;
  --color-warm-70: #585858;
  --color-warm-80: #313131;
  --color-warm-90: #1d1e23;
  --color-warm-100: #151519;
  /* blue */
  --color-blue-10: #f1f8ff;
  --color-blue-20: #e2f1ff;
  --color-blue-30: #b7dbff;
  --color-blue-40: #7ebeff;
  --color-blue-50: #599fe5;
  --color-blue-60: #0073e6;
  --color-blue-70: #0061c2;
  --color-blue-80: #004d99;
  --color-blue-90: #002c58;
  --color-blue-100: #101b25;
  /* green */
  --color-green-10: #ecfff7;
  --color-green-20: #d8ffef;
  --color-green-30: #beefdb;
  --color-green-40: #84dab6;
  --color-green-50: #67b796;
  --color-green-60: #00864f;
  --color-green-70: #006d3f;
  --color-green-80: #005f38;
  --color-green-90: #00331e;
  --color-green-100: #081711;
  /* red */
  --color-red-10: #fff0f1;
  --color-red-20: #ffe1e4;
  --color-red-30: #ffb3bb;
  --color-red-40: #f98c97;
  --color-red-50: #f36170;
  --color-red-60: #d70015;
  --color-red-70: #b50012;
  --color-red-80: #8f000e;
  --color-red-90: #520008;
  --color-red-100: #220f11;
  /* orange */
  --color-orange-10: #fef2e2;
  --color-orange-20: #ffe7c6;
  --color-orange-30: #ffd292;
  --color-orange-40: #ffb348;
  --color-orange-50: #f5a230;
  --color-orange-60: #ae6500;
  --color-orange-70: #965802;
  --color-orange-80: #764502;
  --color-orange-90: #402600;
  --color-orange-100: #1e1100;
  /* purple */
  --color-purple-10: #f7f0ff;
  --color-purple-20: #efe1ff;
  --color-purple-30: #dcc1fb;
  --color-purple-40: #cea4ff;
  --color-purple-50: #9b71df;
  --color-purple-60: #7e0cff;
  --color-purple-70: #6400d6;
  --color-purple-80: #43008f;
  --color-purple-90: #260052;
  --color-purple-100: #180f22;
  /* yellow */
  --color-yellow-10: #fff7d4;
  --color-yellow-20: #ffea89;
  --color-yellow-30: #f3d961;
  --color-yellow-40: #dbb91c;
  --color-yellow-50: #c2a728;
  --color-yellow-60: #8d7400;
  --color-yellow-70: #766200;
  --color-yellow-80: #564908;
  --color-yellow-90: #352b00;
  --color-yellow-100: #181400;
  /* teal */
  --color-teal-10: #ecffff;
  --color-teal-20: #d9ffff;
  --color-teal-30: #bcfbfb;
  --color-teal-40: #91e1e1;
  --color-teal-50: #65c4c4;
  --color-teal-60: #1a8080;
  --color-teal-70: #017474;
  --color-teal-80: #005b5b;
  --color-teal-90: #003535;
  --color-teal-100: #0a1616;
  /* pink */
  --color-pink-10: #fff7fc;
  --color-pink-20: #ffe3f5;
  --color-pink-30: #ffbee7;
  --color-pink-40: #ff94d8;
  --color-pink-50: #ee78c3;
  --color-pink-60: #d30589;
  --color-pink-70: #ab006d;
  --color-pink-80: #840054;
  --color-pink-90: #640040;
  --color-pink-100: #2e001e;

  /* RADIUS */
  --radius-s: 4px;
  --radius-m: 8px;
  --radius-l: 16px;
  --radius-xl: 24px;
  --radius-2xl: 32px;
  --radius-3xl: 128px;
  --radius-4xl: 360px;

  /* SPACING */
  --spacing-0: 0px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-10: 40px;
  --spacing-11: 44px;
  --spacing-12: 48px;
  --spacing-13: 64px;
  --spacing-14: 80px;
  --spacing-15: 96px;
}
@media (prefers-color-scheme: dark){
  :root {
  
    /* COLOR */
    /* pure */
    --color-pure-0: #151519;
    --color-pure-500: #1d1e23;
    --color-pure-1000: #ffffff;
    /* cool */
    --color-cool-10: #0c0d0e;
    --color-cool-20: #1d1e23;
    --color-cool-30: #2c2f36;
    --color-cool-40: #545963;
    --color-cool-50: #7a8190;
    --color-cool-60: #8d95a3;
    --color-cool-70: #bbc1cb;
    --color-cool-80: #e0e3e9;
    --color-cool-90: #f3f6fa;
    --color-cool-100: #f8fbff;
    /* warm */
    --color-warm-10: #151519;
    --color-warm-20: #1d1e23;
    --color-warm-30: #313131;
    --color-warm-40: #585858;
    --color-warm-50: #858585;
    --color-warm-60: #b9b9b9;
    --color-warm-70: #dedede;
    --color-warm-80: #ececec;
    --color-warm-90: #f6f6f6;
    --color-warm-100: #fafafa;
    /* blue */
    --color-blue-10: #101b25;
    --color-blue-20: #002c58;
    --color-blue-30: #004d99;
    --color-blue-40: #0061c2;
    --color-blue-50: #0073e6;
    --color-blue-60: #599fe5;
    --color-blue-70: #7ebeff;
    --color-blue-80: #b7dbff;
    --color-blue-90: #e2f1ff;
    --color-blue-100: #f1f8ff;
    /* green */
    --color-green-10: #081711;
    --color-green-20: #00331e;
    --color-green-30: #005f38;
    --color-green-40: #006d3f;
    --color-green-50: #00864f;
    --color-green-60: #67b796;
    --color-green-70: #84dab6;
    --color-green-80: #beefdb;
    --color-green-90: #d8ffef;
    --color-green-100: #ecfff7;
    /* red */
    --color-red-10: #220f11;
    --color-red-20: #520008;
    --color-red-30: #8f000e;
    --color-red-40: #b50012;
    --color-red-50: #d70015;
    --color-red-60: #f36170;
    --color-red-70: #f98c97;
    --color-red-80: #ffb3bb;
    --color-red-90: #ffe1e4;
    --color-red-100: #fff0f1;
    /* orange */
    --color-orange-10: #1e1100;
    --color-orange-20: #402600;
    --color-orange-30: #764502;
    --color-orange-40: #965802;
    --color-orange-50: #ae6500;
    --color-orange-60: #d78d26;
    --color-orange-70: #ffb348;
    --color-orange-80: #ffd292;
    --color-orange-90: #ffe7c6;
    --color-orange-100: #fef2e2;
    /* purple */
    --color-purple-10: #180f22;
    --color-purple-20: #260052;
    --color-purple-30: #43008f;
    --color-purple-40: #6400d6;
    --color-purple-50: #7e0cff;
    --color-purple-60: #9b71df;
    --color-purple-70: #cea4ff;
    --color-purple-80: #dcc1fb;
    --color-purple-90: #efe1ff;
    --color-purple-100: #f7f0ff;
    /* yellow */
    --color-yellow-10: #181400;
    --color-yellow-20: #352b00;
    --color-yellow-30: #564908;
    --color-yellow-40: #766200;
    --color-yellow-50: #8d7400;
    --color-yellow-60: #c2a728;
    --color-yellow-70: #dbb91c;
    --color-yellow-80: #f3d961;
    --color-yellow-90: #ffea89;
    --color-yellow-100: #fff7d4;
    /* teal */
    --color-teal-10: #0a1616;
    --color-teal-20: #003535;
    --color-teal-30: #005b5b;
    --color-teal-40: #017474;
    --color-teal-50: #1a8080;
    --color-teal-60: #65c4c4;
    --color-teal-70: #91e1e1;
    --color-teal-80: #bcfbfb;
    --color-teal-90: #d9ffff;
    --color-teal-100: #ecffff;
    /* pink */
    --color-pink-10: #2e001e;
    --color-pink-20: #640040;
    --color-pink-30: #840054;
    --color-pink-40: #ab006d;
    --color-pink-50: #d30589;
    --color-pink-60: #ee78c3;
    --color-pink-70: #ff94d8;
    --color-pink-80: #ffbee7;
    --color-pink-90: #ffe3f5;
    --color-pink-100: #fff7fc;
  
    /* RADIUS */
    --radius-s: 4px;
    --radius-m: 8px;
    --radius-l: 16px;
    --radius-xl: 24px;
    --radius-2xl: 32px;
    --radius-3xl: 128px;
    --radius-4xl: 360px;
  
    /* SPACING */
    --spacing-0: 0px;
    --spacing-1: 4px;
    --spacing-2: 8px;
    --spacing-3: 12px;
    --spacing-4: 16px;
    --spacing-5: 20px;
    --spacing-6: 24px;
    --spacing-7: 28px;
    --spacing-8: 32px;
    --spacing-9: 36px;
    --spacing-10: 40px;
    --spacing-11: 44px;
    --spacing-12: 48px;
    --spacing-13: 64px;
    --spacing-14: 80px;
    --spacing-15: 96px;
  }
}
