[data-theme="dark"] {
  /* COLOR */
  /* pure */
  --color-pure-0: #000000;
  --color-pure-500: #1d1e23;
  --color-pure-1000: #ffffff;
  /* cool */
  --color-cool-10: #0c0d0e;
  --color-cool-20: #1d1e23;
  --color-cool-30: #2c2f36;
  --color-cool-40: #545963;
  --color-cool-50: #7a8190;
  --color-cool-60: #8d95a3;
  --color-cool-70: #bbc1cb;
  --color-cool-80: #e0e3e9;
  --color-cool-90: #f3f6fa;
  --color-cool-100: #f8fbff;
  /* warm */
  --color-warm-10: #151519;
  --color-warm-20: #1d1e23;
  --color-warm-30: #313131;
  --color-warm-40: #585858;
  --color-warm-50: #858585;
  --color-warm-60: #b9b9b9;
  --color-warm-70: #dedede;
  --color-warm-80: #ececec;
  --color-warm-90: #f6f6f6;
  --color-warm-100: #fafafa;
  /* blue */
  --color-blue-10: #101b25;
  --color-blue-20: #002c58;
  --color-blue-30: #004d99;
  --color-blue-40: #0061c2;
  --color-blue-50: #0073e6;
  --color-blue-60: #599fe5;
  --color-blue-70: #7ebeff;
  --color-blue-80: #b7dbff;
  --color-blue-90: #e2f1ff;
  --color-blue-100: #f1f8ff;
  /* green */
  --color-green-10: #081711;
  --color-green-20: #00331e;
  --color-green-30: #005f38;
  --color-green-40: #006d3f;
  --color-green-50: #00864f;
  --color-green-60: #67b796;
  --color-green-70: #84dab6;
  --color-green-80: #beefdb;
  --color-green-90: #d8ffef;
  --color-green-100: #ecfff7;
  /* red */
  --color-red-10: #220f11;
  --color-red-20: #520008;
  --color-red-30: #8f000e;
  --color-red-40: #b50012;
  --color-red-50: #d70015;
  --color-red-60: #f36170;
  --color-red-70: #f98c97;
  --color-red-80: #ffb3bb;
  --color-red-90: #ffe1e4;
  --color-red-100: #fff0f1;
  /* orange */
  --color-orange-10: #1e1100;
  --color-orange-20: #402600;
  --color-orange-30: #764502;
  --color-orange-40: #965802;
  --color-orange-50: #ae6500;
  --color-orange-60: #d78d26;
  --color-orange-70: #ffb348;
  --color-orange-80: #ffd292;
  --color-orange-90: #ffe7c6;
  --color-orange-100: #fef2e2;
  /* purple */
  --color-purple-10: #180f22;
  --color-purple-20: #260052;
  --color-purple-30: #43008f;
  --color-purple-40: #6400d6;
  --color-purple-50: #7e0cff;
  --color-purple-60: #9b71df;
  --color-purple-70: #cea4ff;
  --color-purple-80: #dcc1fb;
  --color-purple-90: #efe1ff;
  --color-purple-100: #f7f0ff;
  /* yellow */
  --color-yellow-10: #181400;
  --color-yellow-20: #352b00;
  --color-yellow-30: #564908;
  --color-yellow-40: #766200;
  --color-yellow-50: #8d7400;
  --color-yellow-60: #c2a728;
  --color-yellow-70: #dbb91c;
  --color-yellow-80: #f3d961;
  --color-yellow-90: #ffea89;
  --color-yellow-100: #fff7d4;
  /* teal */
  --color-teal-10: #0a1616;
  --color-teal-20: #003535;
  --color-teal-30: #005b5b;
  --color-teal-40: #017474;
  --color-teal-50: #1a8080;
  --color-teal-60: #65c4c4;
  --color-teal-70: #91e1e1;
  --color-teal-80: #bcfbfb;
  --color-teal-90: #d9ffff;
  --color-teal-100: #ecffff;
  /* pink */
  --color-pink-10: #2e001e;
  --color-pink-20: #640040;
  --color-pink-30: #840054;
  --color-pink-40: #ab006d;
  --color-pink-50: #d30589;
  --color-pink-60: #ee78c3;
  --color-pink-70: #ff94d8;
  --color-pink-80: #ffbee7;
  --color-pink-90: #ffe3f5;
  --color-pink-100: #fff7fc;
  /* blue-brand */
  --color-blue-brand-10: #050a18;
  --color-blue-brand-20: #0a142a;
  --color-blue-brand-30: #10224d;
  --color-blue-brand-40: #0e336f;
  --color-blue-brand-50: #002775;
  --color-blue-brand-60: #003fbd;
  --color-blue-brand-70: #1f69ff;
  --color-blue-brand-80: #5ea2ff;
  --color-blue-brand-90: #8dc0ff;
  --color-blue-brand-100: #e0f0ff;
  /* green-brand */
  --color-green-brand-10: #0c1405;
  --color-green-brand-20: #192b03;
  --color-green-brand-30: #254107;
  --color-green-brand-40: #335106;
  --color-green-brand-50: #528406;
  --color-green-brand-60: #6faf13;
  --color-green-brand-70: #8fd820;
  --color-green-brand-80: #a8f931;
  --color-green-brand-90: #c4ff6b;
  --color-green-brand-100: #e2ffb6;
  /* black-brand */
  --color-black-brand-10: #141414;
  --color-black-brand-20: #1f1f1f;
  --color-black-brand-30: #303030;
  --color-black-brand-40: #3d3d3d;
  --color-black-brand-50: #565656;
  --color-black-brand-60: #757575;
  --color-black-brand-70: #9e9e9e;
  --color-black-brand-80: #bdbdbd;
  --color-black-brand-90: #e6e6e6;
  --color-black-brand-100: #f2f2f2;
  /* magenta-brand */
  --color-magenta-brand-10: #140014;
  --color-magenta-brand-20: #250025;
  --color-magenta-brand-30: #390039;
  --color-magenta-brand-40: #4b0049;
  --color-magenta-brand-50: #8a0087;
  --color-magenta-brand-60: #c200bf;
  --color-magenta-brand-70: #ff40fc;
  --color-magenta-brand-80: #ff73fc;
  --color-magenta-brand-90: #ff9ffd;
  --color-magenta-brand-100: #ffdefe;
  /* brown-brand */
  --color-brown-brand-10: #1a0e06;
  --color-brown-brand-20: #2b1a0c;
  --color-brown-brand-30: #3b2109;
  --color-brown-brand-40: #553015;
  --color-brown-brand-50: #714113;
  --color-brown-brand-60: #874d17;
  --color-brown-brand-70: #b87438;
  --color-brown-brand-80: #e8af79;
  --color-brown-brand-90: #f6e5d3;
  --color-brown-brand-100: #fdf7f0;
  /* orange-brand */
  --color-orange-brand-10: #1a0b05;
  --color-orange-brand-20: #2d1207;
  --color-orange-brand-30: #471b0b;
  --color-orange-brand-40: #66220d;
  --color-orange-brand-50: #8a2900;
  --color-orange-brand-60: #d13f00;
  --color-orange-brand-70: #ff4d00;
  --color-orange-brand-80: #ff7a40;
  --color-orange-brand-90: #ffbfa6;
  --color-orange-brand-100: #ffece5;

  /* RADIUS */
  --radius-0: 0px;
  --radius-s: 4px;
  --radius-m: 8px;
  --radius-l: 16px;
  --radius-xl: 24px;
  --radius-2xl: 32px;
  --radius-3xl: 128px;
  --radius-4xl: 360px;

  /* SPACING */
  --spacing-0: 0px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-10: 40px;
  --spacing-11: 44px;
  --spacing-12: 48px;
  --spacing-13: 64px;
  --spacing-14: 80px;
  --spacing-15: 96px;
}
