[data-contrast="more"] {
  --main-default: var(--color-cool-100, #0c0d0e);
  --main-inverse: var(--color-pure-0, #ffffff);
  --main-inverse-subtle: var(--color-pure-0, #ffffff);
  --main-light: var(--color-pure-0, #ffffff);
  --main-subtle: var(--color-cool-90, #1d1e23);
  --main-primary-legacy: var(--color-blue-80, #004d99);
  --main-primary: var(--color-blue-brand-80, #003fbd);
  --main-secondary: var(--color-green-brand-80, #528406);
  --main-positive: var(--color-green-80, #005f38);
  --main-warning: var(--color-orange-80, #764502);
  --main-negative: var(--color-red-80, #8f000e);
  --main-info: var(--color-purple-80, #43008f);
  --main-disabled: var(--color-cool-80, #2c2f36);
  --text-default: var(--color-cool-100, #0c0d0e);
  --text-body: var(--color-cool-90, #1d1e23);
  --text-inline: var(--color-pure-0, #ffffff);
  --text-disabled: var(--color-cool-80, #2c2f36);
  --text-link: var(--color-blue-brand-90, #002775);
  --text-inverse: var(--color-pure-0, #ffffff);
  --text-inverse-subtle: var(--color-pure-0, #ffffff);
  --text-primary: var(--color-blue-brand-80, #003fbd);
  --text-secondary: var(--color-green-brand-80, #528406);
  --text-positive: var(--color-green-80, #005f38);
  --text-warning: var(--color-orange-80, #764502);
  --text-negative: var(--color-red-80, #8f000e);
  --text-info: var(--color-purple-80, #43008f);
  --icon-default: var(--color-pure-1000, #000000);
  --icon-inverse: var(--color-pure-0, #ffffff);
  --icon-pure: var(--color-pure-0, #ffffff);
  --icon-subtle: var(--color-cool-90, #1d1e23);
  --icon-disabled: var(--color-cool-80, #2c2f36);
  --icon-inverse-subtle: var(--color-pure-0, #ffffff);
  --icon-positive: var(--color-green-70, #006d3f);
  --icon-warning: var(--color-orange-70, #965802);
  --icon-negative: var(--color-red-70, #b50012);
  --surface-inverse-pure: var(--color-pure-1000, #000000);
  --surface-inverse: var(--color-cool-100, #0c0d0e);
  --surface-default: var(--color-pure-0, #ffffff);
  --surface-hover: var(--color-cool-20, #f3f6fa);
  --surface-cool: var(--color-cool-10, #f8fbff);
  --surface-warm: var(--color-warm-10, #fafafa);
  --surface-warmer: var(--color-brown-brand-20, #f6e5d3);
  --surface-selected: var(--color-blue-10, #f1f8ff);
  --surface-selected-hover: var(--color-blue-20, #e2f1ff);
  --surface-disabled: var(--color-cool-30, #e0e3e9);
  --surface-primary-legacy: var(--color-blue-80, #004d99);
  --surface-primary-legacy-subtle: var(--color-blue-90, #002c58);
  --surface-primary: var(--color-blue-brand-80, #003fbd);
  --surface-primary-subtle: var(--color-blue-brand-90, #002775);
  --surface-secondary: var(--color-green-brand-80, #528406);
  --surface-secondary-subtle: var(--color-green-brand-90, #335106);
  --surface-secondary-legacy: var(--color-yellow-80, #564908);
  --surface-secondary-legacy-subtle: var(--color-yellow-90, #352b00);
  --surface-warning: var(--color-orange-80, #764502);
  --surface-warning-subtle: var(--color-orange-90, #402600);
  --surface-positive: var(--color-green-80, #005f38);
  --surface-positive-subtle: var(--color-green-90, #00331e);
  --surface-info: var(--color-purple-80, #43008f);
  --surface-info-subtle: var(--color-purple-90, #260052);
  --surface-negative: var(--color-red-80, #8f000e);
  --surface-negative-subtle: var(--color-red-90, #520008);
  --border-default: var(--color-pure-0, #ffffff);
  --border-selected: var(--color-cool-90, #1d1e23);
  --border-hover: var(--color-cool-90, #1d1e23);
  --border-subtle: var(--color-cool-80, #2c2f36);
  --border-disabled: var(--color-cool-20, #f3f6fa);
  --border-pure: var(--color-pure-0, #ffffff);
  --border-primary: var(--color-blue-brand-80, #003fbd);
  --border-primary-legacy: var(--color-blue-70, #0061c2);
  --border-positive: var(--color-green-70, #006d3f);
  --border-secondary: var(--color-green-brand-70, #6faf13);
  --border-warning: var(--color-orange-70, #965802);
  --border-negative: var(--color-red-70, #b50012);
  --border-info: var(--color-purple-70, #6400d6);
  --state-disabled-disabled: var(--color-cool-30, #e0e3e9);
  --state-default-enabled: var(--color-pure-0, #ffffff);
  --state-default-selected: var(--color-blue-10, #f1f8ff);
  --state-default-hover: var(--color-cool-20, #f3f6fa);
  --state-default-focus: var(--color-pure-0, #ffffff);
  --state-primary-enabled: var(--color-blue-brand-90, #002775);
  --state-primary-selected: var(--color-blue-brand-90, #002775);
  --state-primary-focus: var(--color-blue-brand-80, #003fbd);
  --state-primary-hover: var(--color-blue-brand-70, #0e53e5);
  --state-primary-legacy-enabled: var(--color-blue-90, #002c58);
  --state-primary-legacy-selected: var(--color-blue-90, #002c58);
  --state-primary-legacy-focus: var(--color-blue-80, #004d99);
  --state-primary-legacy-hover: var(--color-blue-70, #0061c2);
  --state-secondary-enabled: var(--color-green-brand-90, #335106);
  --state-secondary-selected: var(--color-green-brand-90, #335106);
  --state-secondary-focus: var(--color-green-brand-80, #528406);
  --state-secondary-hover: var(--color-green-brand-70, #6faf13);
  --state-negative-enabled: var(--color-red-80, #8f000e);
  --state-negative-selected: var(--color-red-90, #520008);
  --state-negative-focus: var(--color-red-80, #8f000e);
  --state-negative-hover: var(--color-red-70, #b50012);
  --state-info-enabled: var(--color-purple-80, #43008f);
  --state-info-selected: var(--color-purple-90, #260052);
  --state-info-focus: var(--color-purple-80, #43008f);
  --state-info-hover: var(--color-purple-70, #6400d6);
  --state-positive-enabled: var(--color-green-80, #005f38);
  --state-positive-selected: var(--color-green-90, #00331e);
  --state-positive-focus: var(--color-green-80, #005f38);
  --state-positive-hover: var(--color-green-70, #006d3f);
  --state-inverse-enabled: var(--color-pure-1000, #000000);
  --state-inverse-hover: var(--color-cool-90, #1d1e23);
  --state-inverse-selected: var(--color-pure-1000, #000000);
  --state-inverse-focus: var(--color-pure-1000, #000000);
  --chart-1-primary: var(--color-blue-90, #002c58);
  --chart-1-secondary: var(--color-blue-70, #0061c2);
  --chart-2-primary: var(--color-orange-90, #402600);
  --chart-2-secondary: var(--color-orange-70, #965802);
  --chart-3-primary: var(--color-green-90, #00331e);
  --chart-3-secondary: var(--color-green-70, #006d3f);
  --chart-4-primary: var(--color-red-90, #520008);
  --chart-4-secondary: var(--color-red-70, #b50012);
  --chart-5-primary: var(--color-purple-90, #260052);
  --chart-5-secondary: var(--color-purple-70, #6400d6);
  --chart-6-primary: var(--color-teal-90, #003535);
  --chart-6-secondary: var(--color-teal-70, #017474);
  --chart-7-primary: var(--color-pink-90, #640040);
  --chart-7-secondary: var(--color-pink-70, #ab006d);
  --chart-8-primary: var(--color-black-brand-90, #303030);
  --chart-8-secondary: var(--color-black-brand-70, #666666);
  --chart-9-primary: var(--color-green-brand-90, #335106);
  --chart-9-secondary: var(--color-green-brand-70, #6faf13);
  --chart-10-primary: var(--color-magenta-brand-90, #8a0087);
  --chart-10-secondary: var(--color-magenta-brand-70, #e600e0);
  --chart-11-primary: var(--color-orange-brand-90, #8a2900);
  --chart-11-secondary: var(--color-orange-brand-70, #f34300);
  --chart-12-primary: var(--color-blue-brand-90, #002775);
  --chart-12-secondary: var(--color-blue-brand-70, #0e53e5);
  --avatar-primary-legacy: var(--color-blue-80, #004d99);
  --avatar-blue: var(--color-blue-brand-80, #003fbd);
  --avatar-teal: var(--color-teal-80, #005b5b);
  --avatar-green: var(--color-green-80, #005f38);
  --avatar-secondary: var(--color-green-brand-80, #528406);
  --avatar-yellow: var(--color-yellow-80, #564908);
  --avatar-orange: var(--color-orange-80, #764502);
  --avatar-pink: var(--color-pink-80, #840054);
  --avatar-purple: var(--color-purple-80, #43008f);
  --spacing-none: var(--spacing-0, 0px);
  --spacing-minimum: var(--spacing-1, 4px);
  --spacing-small: var(--spacing-2, 8px);
  --spacing-medium: var(--spacing-3, 12px);
  --spacing-large: var(--spacing-4, 16px);
  --spacing-xl: var(--spacing-5, 20px);
  --spacing-2xl: var(--spacing-6, 24px);
  --spacing-3xl: var(--spacing-7, 28px);
  --spacing-4xl: var(--spacing-8, 32px);
  --spacing-5xl: var(--spacing-9, 36px);
  --spacing-6xl: var(--spacing-10, 40px);
  --spacing-7xl: var(--spacing-11, 44px);
  --spacing-8xl: var(--spacing-12, 48px);
  --spacing-9xl: var(--spacing-13, 64px);
  --spacing-10xl: var(--spacing-14, 80px);
  --spacing-11xl: var(--spacing-15, 96px);
  --radius-none: var(--radius-0, 0px);
  --radius-minimal: var(--radius-0, 0px);
  --radius-rounded: var(--radius-0, 0px);
  --radius-large: var(--radius-0, 0px);
  --radius-xl: var(--radius-0, 0px);
  --radius-full: var(--radius-0, 0px);
}
