:root,
:host {

  /* TEXT */
  --text-default: var(--color-cool-90);
  --text-subtle: var(--color-cool-70);
  --text-inverse: var(--color-pure-0);
  --text-disabled: var(--color-cool-50);
  /* flavor */
  --text-flavor-primary: var(--color-blue-60);
  --text-flavor-secondary: var(--color-yellow-60);
  --text-flavor-positive: var(--color-green-60);
  --text-flavor-warning: var(--color-orange-60);
  --text-flavor-negative: var(--color-red-60);
  --text-flavor-info: var(--color-purple-60);

  /* SURFACE */
  --surface-default: var(--color-pure-0);
  --surface-default-inverse: var(--color-warm-100);
  /* ERROR in variable name: surface-Header Bar */
  --surface-cool: var(--color-cool-10);
  --surface-warm: var(--color-warm-10);
  --surface-hover: var(--color-cool-20);
  --surface-pressed: var(--color-blue-10);
  --surface-pressed-hover: var(--color-blue-20);
  /* flavor */
  --surface-flavor-primary: var(--color-blue-60);
  --surface-flavor-primary-subtle: var(--color-blue-10);
  --surface-flavor-secondary: var(--color-yellow-60);
  --surface-flavor-secondary-subtle: var(--color-yellow-10);
  --surface-flavor-positive: var(--color-green-60);
  --surface-flavor-positive-subtle: var(--color-green-10);
  --surface-flavor-warning: var(--color-orange-60);
  --surface-flavor-warning-subtle: var(--color-orange-10);
  --surface-flavor-negative: var(--color-red-60);
  --surface-flavor-negative-subtle: var(--color-red-10);
  --surface-flavor-info: var(--color-purple-60);
  --surface-flavor-info-subtle: var(--color-purple-10);
  --surface-disabled: var(--color-cool-30);

  /* BORDER */
  --border-default: var(--color-cool-40);
  --border-subtle: var(--color-cool-30);
  --border-hover: var(--color-cool-90);
  --border-pressed: var(--color-cool-90);
  --border-disabled: var(--color-cool-20);
  /* flavor */
  --border-flavor-primary: var(--color-blue-50);
  --border-flavor-secondary: var(--color-yellow-50);
  --border-flavor-positive: var(--color-green-50);
  --border-flavor-warning: var(--color-orange-50);
  --border-flavor-negative: var(--color-red-50);
  --border-flavor-info: var(--color-purple-50);
  --border-pure: var(--color-pure-0);

  /* ICON */
  --icon-default: var(--color-cool-90);
  --icon-subtle: var(--color-cool-70);
  --icon-inverse: var(--color-cool-20);
  --icon-disabled: var(--color-cool-50);
  /* flavor */
  --icon-flavor-primary: var(--color-blue-60);
  --icon-flavor-secondary: var(--color-yellow-60);
  --icon-flavor-positive: var(--color-green-60);
  --icon-flavor-warning: var(--color-orange-60);
  --icon-flavor-negative: var(--color-red-60);
  --icon-flavor-info: var(--color-purple-60);
  --icon-light: var(--color-cool-30);

  /* COMPONENT */
  /* avatar */
  --component-avatar-blue: var(--color-blue-80);
  --component-avatar-green: var(--color-green-60);
  --component-avatar-orange: var(--color-orange-50);
  --component-avatar-pink: var(--color-pink-80);
  --component-avatar-purple: var(--color-purple-80);
  --component-avatar-teal: var(--color-teal-80);
  --component-avatar-yellow: var(--color-yellow-50);
  /* button */
  /* primary */
  --component-button-primary-active: var(--color-blue-60);
  --component-button-primary-hover: var(--color-blue-50);
  --component-button-primary-pressed: var(--color-blue-70);
  --component-button-primary-focus: var(--color-blue-60);
  --component-button-primary-disabled: var(--surface-disabled);
  --component-button-secondary: var(--color-yellow-60);
  --component-button-positive: var(--color-green-60);
  --component-button-warning: var(--color-orange-60);
  --component-button-negative: var(--color-red-60);
  --component-button-info: var(--color-purple-60);
  /* outline-text */
  --component-button-outline-text-active: var(--surface-default);
  --component-button-outline-text-hover: var(--surface-hover);
  --component-button-outline-text-pressed: var(--surface-pressed);
  --component-button-outline-text-focus: var(--surface-default);
  --component-button-outline-text-disabled: var(--surface-disabled);
  --component-button-outline-text-text: var(--text-flavor-primary);
  --component-button-outline-text-text-subtle: var(--text-default);
  --component-button-outline-text-border: var(--color-blue-60);
  --component-button-outline-text-border-focus: var(--border-flavor-primary);
  --component-button-outline-text-border-subtle: var(--border-default);
  /* Inverse */
  --component-button-Inverse-active: var(--color-cool-100);
  --component-button-Inverse-hover: var(--color-cool-90);
  --component-button-Inverse-Pressed: var(--color-cool-100);
  --component-button-Inverse-focus: var(--color-cool-100);
  --component-button-Inverse-disabled: var(--surface-disabled);
  /* top app bar */
  /* ERROR in variable name: component-top app bar-top app bar */

  /* SPACING */
  --spacing-none: var(--spacing-0);
  --spacing-minimum: var(--spacing-1);
  /* ERROR in variable name: spacing-very small */
  --spacing-small: var(--spacing-3);
  --spacing-medium: var(--spacing-4);
  --spacing-large: var(--spacing-5);
  /* ERROR in variable name: spacing-very large */
  --spacing-xl: var(--spacing-7);
  --spacing-xxl: var(--spacing-8);
  --spacing-xxxl: var(--spacing-9);
  --spacing-4xl: var(--spacing-10);
  --spacing-5xl: var(--spacing-11);
  --spacing-6xl: var(--spacing-12);
  --spacing-7xl: var(--spacing-13);
  --spacing-8xl: var(--spacing-14);
  --spacing-9xl: var(--spacing-15);

  /* RADIUS */
  --radius-none: 0px;
  --radius-minimal: var(--radius-s);
  --radius-rounded: var(--radius-m);
  --radius-large: var(--radius-l);
  --radius-wide: var(--radius-b);
  --radius-full: var(--radius-xxxl);
}

@media (prefers-contrast: more) {

  :root,
  :host {

    /* TEXT */
    --text-default: var(--color-cool-100);
    --text-subtle: var(--color-cool-90);
    --text-inverse: var(--color-pure-0);
    --text-disabled: var(--color-cool-60);
    /* flavor */
    --text-flavor-primary: var(--color-blue-80);
    --text-flavor-secondary: var(--color-yellow-80);
    --text-flavor-positive: var(--color-green-80);
    --text-flavor-warning: var(--color-orange-80);
    --text-flavor-negative: var(--color-red-80);
    --text-flavor-info: var(--color-purple-80);

    /* SURFACE */
    --surface-default: var(--color-pure-0);
    --surface-default-inverse: var(--color-pure-1000);
    /* ERROR in variable name: surface-Header Bar */
    --surface-cool: var(--color-cool-10);
    --surface-warm: var(--color-warm-10);
    --surface-hover: var(--color-cool-20);
    --surface-pressed: var(--color-blue-10);
    --surface-pressed-hover: var(--color-blue-20);
    /* flavor */
    --surface-flavor-primary: var(--color-blue-60);
    --surface-flavor-primary-subtle: var(--color-blue-10);
    --surface-flavor-secondary: var(--color-yellow-60);
    --surface-flavor-secondary-subtle: var(--color-yellow-10);
    --surface-flavor-positive: var(--color-green-60);
    --surface-flavor-positive-subtle: var(--color-green-10);
    --surface-flavor-warning: var(--color-orange-60);
    --surface-flavor-warning-subtle: var(--color-orange-10);
    --surface-flavor-negative: var(--color-red-60);
    --surface-flavor-negative-subtle: var(--color-red-10);
    --surface-flavor-info: var(--color-purple-60);
    --surface-flavor-info-subtle: var(--color-purple-10);
    --surface-disabled: var(--color-cool-30);

    /* BORDER */
    --border-default: var(--color-cool-100);
    --border-subtle: var(--color-cool-80);
    --border-hover: var(--color-cool-90);
    --border-pressed: var(--color-cool-90);
    --border-disabled: var(--color-cool-20);
    /* flavor */
    --border-flavor-primary: var(--color-blue-70);
    --border-flavor-secondary: var(--color-yellow-70);
    --border-flavor-positive: var(--color-green-70);
    --border-flavor-warning: var(--color-orange-70);
    --border-flavor-negative: var(--color-red-70);
    --border-flavor-info: var(--color-purple-70);
    --border-pure: var(--color-pure-0);

    /* ICON */
    --icon-default: var(--color-cool-100);
    --icon-subtle: var(--color-cool-80);
    --icon-inverse: var(--color-pure-0);
    --icon-disabled: var(--color-cool-60);
    /* flavor */
    --icon-flavor-primary: var(--color-blue-80);
    --icon-flavor-secondary: var(--color-yellow-80);
    --icon-flavor-positive: var(--color-green-80);
    --icon-flavor-warning: var(--color-orange-80);
    --icon-flavor-negative: var(--color-red-80);
    --icon-flavor-info: var(--color-purple-80);
    --icon-light: var(--color-pure-0);

    /* COMPONENT */
    /* avatar */
    --component-avatar-blue: var(--color-blue-80);
    --component-avatar-green: var(--color-green-60);
    --component-avatar-orange: var(--color-orange-50);
    --component-avatar-pink: var(--color-pink-80);
    --component-avatar-purple: var(--color-purple-80);
    --component-avatar-teal: var(--color-teal-80);
    --component-avatar-yellow: var(--color-yellow-50);
    /* button */
    /* primary */
    --component-button-primary-active: var(--color-blue-80);
    --component-button-primary-hover: var(--color-blue-70);
    --component-button-primary-pressed: var(--color-blue-90);
    --component-button-primary-focus: var(--color-blue-80);
    --component-button-primary-disabled: var(--surface-disabled);
    --component-button-secondary: var(--color-yellow-80);
    --component-button-positive: var(--color-green-80);
    --component-button-warning: var(--color-orange-80);
    --component-button-negative: var(--color-red-80);
    --component-button-info: var(--color-purple-80);
    /* outline-text */
    --component-button-outline-text-active: var(--surface-default);
    --component-button-outline-text-hover: var(--surface-hover);
    --component-button-outline-text-pressed: var(--surface-pressed);
    --component-button-outline-text-focus: var(--surface-default);
    --component-button-outline-text-disabled: var(--surface-disabled);
    --component-button-outline-text-text: var(--text-flavor-primary);
    --component-button-outline-text-text-subtle: var(--text-default);
    --component-button-outline-text-border: var(--color-blue-60);
    --component-button-outline-text-border-focus: var(--border-flavor-primary);
    --component-button-outline-text-border-subtle: var(--border-default);
    /* Inverse */
    --component-button-Inverse-active: var(--color-pure-1000);
    --component-button-Inverse-hover: var(--color-cool-90);
    --component-button-Inverse-Pressed: var(--color-pure-1000);
    --component-button-Inverse-focus: var(--color-pure-1000);
    --component-button-Inverse-disabled: var(--surface-disabled);
    /* top app bar */
    /* ERROR in variable name: component-top app bar-top app bar */

    /* SPACING */
    --spacing-none: var(--spacing-0);
    --spacing-minimum: var(--spacing-1);
    /* ERROR in variable name: spacing-very small */
    --spacing-small: var(--spacing-3);
    --spacing-medium: var(--spacing-4);
    --spacing-large: var(--spacing-5);
    /* ERROR in variable name: spacing-very large */
    --spacing-xl: var(--spacing-7);
    --spacing-xxl: var(--spacing-8);
    --spacing-xxxl: var(--spacing-9);
    --spacing-4xl: var(--spacing-10);
    --spacing-5xl: var(--spacing-11);
    --spacing-6xl: var(--spacing-12);
    --spacing-7xl: var(--spacing-13);
    --spacing-8xl: var(--spacing-14);
    --spacing-9xl: var(--spacing-15);

    /* RADIUS */
    --radius-none: 0px;
    --radius-minimal: 0px;
    --radius-rounded: 0px;
    --radius-large: 0px;
    --radius-wide: 0px;
    --radius-full: 0px;
  }
}