:host {
  display: block;
  min-width: min-content;  
}

.global-header {
  display: flex;
  flex-direction: column;  
}

.slotted-content, .leading, .global-header-content {
  display: flex;
  align-items: center;
}

.global-header-content {
  background-color: var(--surface-tertiary);
  color: var(--text-inverse);
  gap: 44px;
  justify-content: space-between;
  padding: 8px 24px;
}

.slotted-content {
  gap: 16px;
}

.leading {
  gap: 44px;  
}

.header {
  font-size: 18px;
  font-weight: 400;
}

.navigation-menu {
  background-color: var(--surface-tertiary);
  padding: 0 8px;
}