.container {
  width: fit-content;
  padding: var(--spacing-0-5) var(--spacing-2);
  background-color: var(--surface-basic-active);
  border: none;
  transition: background-color 0.2s ease-out;

  .icon {
    display: block;
  }
}
