import * as React from "react";
import { createComponent } from "@lit/react";
import type { Zeta_replacecap_ as Zeta_replacecap_WC } from "zeta-web";

export const Zeta_replacecap_ = createComponent({
  tagName: "zeta-_replacelower_",
  elementClass: Zeta_replacecap_WC,
  react: React,
  events: {}
});