import { fixture, html, expect, unsafeStatic } from "@open-wc/testing";
import type { Zeta_replacecap_ } from "PATH_TO_COMPONENT";
import "PATH_TO_COMPONENT";

import "../../index.css";

describe("zeta-_replacelower_", () => {
  let subject: Zeta_replacecap_;

  const createComponent = (template = `<zeta-_replacelower_></zeta-_replacelower_>`) => {
    // prettier-ignore
    return fixture<Zeta_replacecap_>(html`${unsafeStatic(template)}`);
  };

  beforeEach(async () => {
    subject = await createComponent();
  });

  describe("Accessibility", () => {
    it("meets accessibility requirements", async () => {
      await expect(subject).shadowDom.to.be.accessible();
    });
  });

  // describe("Content", () => {});

  // describe("Dimensions", () => {});

  // describe("Styling", () => {});

  // describe("Interaction", () => {});

  // describe("Golden", () => {});

  // describe("Performance", () => {});
});
