.banner {
    display: flex;
    flex-direction: row;
    padding: var(--spacing-3);
    justify-content: center;
    align-items: center;
    border: var(--border-size-small) solid;
    color: var(--text-default);

    > .leading {
        padding-right: var(--spacing-2);
        padding-top: var(--spacing-0-5);
        align-self: stretch;
    }

    > .trailing {
        flex: 1;
        > .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            zeta-icon#close {
                fill: var(--icon-default);
                cursor: pointer;
            }

            > .title {
                font: var(--title-medium);
            }
        }
        > .body {
            margin-top: var(--spacing-1);
            font: var(--body-small);
        }

        > .footer {
            display: flex;
            flex-direction: row;
            gap: var(--spacing-2);
        }
    }
}

:host([rounded]) > .banner {
    border-radius: var(--radius-minimal);
}

.banner,
:host([status="default"]) > .banner {
    border-color: var(--border-default);
    background: var(--surface-default);
    fill: var(--icon-default);
}

:host([status="info"]) > .banner {
    border-color: var(--border-info);
    background: var(--surface-info-subtle);
    fill: var(--icon-info);
}

:host([status="positive"]) > .banner {
    border-color: var(--border-positive);
    background: var(--surface-positive-subtle);
    fill: var(--icon-positive);
}

:host([status="warning"]) > .banner {
    border-color: var(--border-warning);
    background: var(--surface-warning-subtle);
    fill: var(--icon-warning);
}

:host([status="negative"]) > .banner {
    border-color: var(--border-negative);
    background: var(--surface-negative-subtle);
    fill: var(--icon-negative);
}

::slotted([slot="leading-action"]),
::slotted([slot="trailing-action"]) {
    margin-top: var(--spacing-4);
}
