<style>
    .column {
        display: flex;
        flex-direction: column;
        gap: 8px
    }

    .row {
        padding: 2px;
    }
</style>

<div class="column">
    <div class="row">
        <zeta-button size="small" flavor="primary">Button</zeta-button>
        <zeta-button size="small" flavor="secondary">Button</zeta-button>
        <zeta-button size="small" flavor="positive">Button</zeta-button>
        <zeta-button size="small" flavor="negative">Button</zeta-button>
        <zeta-button size="small" flavor="outline">Button</zeta-button>
        <zeta-button size="small" flavor="outline-subtle">Button</zeta-button>
        <zeta-button size="small" flavor="text">Button</zeta-button>
    </div>
    <div class="row">
        <zeta-button size="medium" flavor="primary">Button</zeta-button>
        <zeta-button size="medium" flavor="secondary">Button</zeta-button>
        <zeta-button size="medium" flavor="positive">Button</zeta-button>
        <zeta-button size="medium" flavor="negative">Button</zeta-button>
        <zeta-button size="medium" flavor="outline">Button</zeta-button>
        <zeta-button size="medium" flavor="outline-subtle">Button</zeta-button>
        <zeta-button size="medium" flavor="text">Button</zeta-button>
    </div>
    <div class="row">
        <zeta-button size="large" flavor="primary">Button</zeta-button>
        <zeta-button size="large" flavor="secondary">Button</zeta-button>
        <zeta-button size="large" flavor="positive">Button</zeta-button>
        <zeta-button size="large" flavor="negative">Button</zeta-button>
        <zeta-button size="large" flavor="outline">Button</zeta-button>
        <zeta-button size="large" flavor="outline-subtle">Button</zeta-button>
        <zeta-button size="large" flavor="text">Button</zeta-button>
    </div>
    <div class="row">
        <zeta-button size="large" disabled flavor="primary">Button</zeta-button>
        <zeta-button size="large" disabled flavor="secondary">Button</zeta-button>
        <zeta-button size="large" disabled flavor="positive">Button</zeta-button>
        <zeta-button size="large" disabled flavor="negative">Button</zeta-button>
        <zeta-button size="large" disabled flavor="outline">Button</zeta-button>
        <zeta-button size="large" disabled flavor="outline-subtle">Button</zeta-button>
        <zeta-button size="large" disabled flavor="text">Button</zeta-button>
    </div>
</div>